<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="brandeisclasssearchproject.cs.brandies.edu.brandeisclasssearch">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.OnclickTeacherActivity"
            android:label="@string/title_activity_onclick_teacher"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.OnclickBooksActivity"
            android:label="@string/title_activity_onclick_books"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.OnclickDiscriptionActivity"
            android:label="@string/title_activity_onclick_discription"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.OnclickSchduleActivity"
            android:label="@string/title_activity_onclick_schdule"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.ShowBooks" />
        <activity android:name=".activities.ShowDescription" />
        <activity android:name=".activities.ShowTeacher" />
        <activity android:name=".activities.ShowSchedule" />
        <activity android:name=".activities.ShowSyllabus" />
        <activity
            android:name=".activities.ScheduleTable">
        </activity>
    </application>

</manifest>